<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la Página</title>
    <link rel="stylesheet" href="url_for('static', filename='css/styles.css')">
</head>
<body>
    
    <div class="container">
        <header class="header">
            <h1>HEADER</h1>
        </header>
    
    {% block content %}
    
    
        
    {% endblock %}
        
    
        <footer class="footer">
            <h1>FOOTER</h1>
        </footer>
    
    </div>

</body>

<script src="url_for('static', filename='js/script.js')"></script>

</html>